*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'gotham';
    src: url('../lib/fonts/Gotham-Black.otf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}

:root{
    --fuente-primaria: 'gotham', sans-serif;
  }
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .section-1{
    background: #000;
    width: 100vw;
    height: 90vh;
    background-image: url('../lib/img/bg.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: relative;
  }
  .black{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }
  .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    color: #fff;
    z-index: 999;
  }
  .gradient{
    width: 30%;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #12C1E8, #C172ED);;
  }

.section-1 .title > h1{
    font-size: 10rem;
    font-family: var(--fuente-primaria);
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:2rem;
    font-family: var(--fuente-primaria);
}

/* animacion flechas */
.scroll-indicator {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .8;
    z-index: 100;
}

.scroll-indicator i {
    font-size: 24px;
    color: #c5c4c4;
    margin: -19px 0;
    animation: move-down 2s infinite;
}

/* Animaciones escalonadas para cada flecha */
.scroll-indicator i:nth-child(1) {
    animation-delay: 0s;
}
.scroll-indicator i:nth-child(2) {
    animation-delay: 0.3s;
}

@keyframes move-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.section-2{
    min-height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.3vw;
}
.contenedor-about{
    gap: 50px;
    margin: 40px auto;
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about{
    width: 50%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 5px 5px 18px rgba(189, 189, 189, 0.784);
    line-height: 1.5;
    font-size: 1.2rem;
}
.about span{
    font-weight: bold;
}
.instagram{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
.follow{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.follow a{
    text-decoration: none;
    margin: auto 5px;
    font-size: 1.15rem;

}
.follow .user{
    color: #000;
}
.followButton{
    padding:14px 35px;
    background: #058EFF;
    right: 20px;
    color: #fff;
    border-radius: 12px;
    position: absolute;
}
.photos{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.follow > img{
    width: 7%;
    margin: 10px;
    border-radius: 10px;
}
.igImg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.bin{
    width: 30%;
    margin: 10px;
    gap: 10px;
    border-radius: 10%;
}
.igImg img{
    width: 100%;
    border-radius: 10%;
}

.info{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.info > p{
    margin: 50px auto;
}
.info > img{
    width: 25%;
    margin-top: -10px;
}

.video{
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.video p{
    font-size: 3rem;
    margin-top: 40px;
}
.video span{
    font-weight: bold;
}
.video > .gradient{
    margin: 20px auto;
    height: 15px;
    width: 70%;
}
.video video{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 30px;
}

@media screen and (max-width:768px){
    .title{
        text-align: center;
        justify-content: center;
        width: 80%;
    }
    .section-1 .title > h1{
        font-size: 22vw;
    }
    .gradient{
        width: 80%;
    }
    .about{
        width: 90%;
       
    }
    .instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    igImg{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .photos{
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .follow > img{
        width: 11%;
    }
    .bin{
        margin: 20px auto;
        width: 45%;
    }
    .followButton{
        margin-left: -20px;
        padding: 10px 20px;
    }

    .follow a{
        font-size: 1rem;
    }

    .follo .user{
        right: -10px;
    }
    .info{
        width: 90%;
    }
    .video p{
        font-size: 1.2rem;
    }
    .video > .gradient{
        width: 85%;
        height: 10px;
    }
    .video video{
        margin-top: 0;
    }
    
}