:root{
    --color-primario:#2D4075;
}

.nav{
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
}
/* Ocultar navbar cuando baja el scroll */
.hidden-nav {
  transform: translateY(-100%);
}

/* Mostrar navbar cuando sube el scroll */
.visible {
  transform: translateY(0);
}
.logo{
    margin: auto 0 ;
    color: var(--color-primario);
    font-size: 2.4vw;
    font-weight: bolder;
}
.logo-link{
  text-decoration: none;
  color: inherit;
}
.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    transition: right 0.3s ease-in-out;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.1vw;
  }


.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
.fa-solid{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}
  
  
.nav-links.active {
    width: 60%;
    height: 100vh;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: left;
    z-index: 1111;
}
  
.nav-links li {
  margin: 10px 0;
}

.hidden {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  transition: width 0.4s ease-out, left 0.4s ease-out;
}

.nav-links a.active::after {
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
    .nav{
        position: fixed;
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
    .hidden-nav {
      transform: translateY(-100%);
  }
    .menu{
        display: flex;
        position: fixed;
        font-size: 4.5vw;
        top: 30px;
        left: 40px;
    }
    .logo{
        font-size: 7.5vw;

    }
    .nav-links {
      position: fixed;
      display: none; 
      width: 100%;  
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1500;
    }

    .nav-links.active {
      width: 65%;
      display: flex; 
      flex-direction: column;
      text-align: left;
      justify-content: start;
      gap: 0;
      transform: translateY(0);
    }

    .nav-links.active i{
      margin: 55px 0;
    }
    .nav-links.active li{
      width: 100%;
      margin-left: 80px;
      padding:10px  0;
      

    }
    .nav-links.active a{
      text-align: left;
      font-size: 2.8vw;
    }
   
    .fa-x{
      position: relative;
      top: -5px;
      left: -70px;
    }
    
  }